:root{
    --blue-color: #0075ff ;
    --blue-alt-color: #0d69d5 ;
    --orange-color: #f59e0b ;
    --green-color: #22c55e ;
    --red-color: #f44336 ;
    --grey-color: #888 ;
}
/*  START BOX  */
.d-flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.d-grid{
    display: grid;
}
.gap-20{
    gap: 20px;
}
.d-block{
    display: block;
}
@media (max-width: 767px) {
    .block-mobile{
        display: block;
    }
    .hide-in-mobile{
        display: none;
    }
}
/*  END BOX  */
/*  START FLEX  */
.f-wrap{
    flex-wrap: wrap;
}
/*  END FLEX  */
/*  START PADDING + MARGIN   */
.p-10{
    padding: 10px;
}
.p-15{
    padding: 15px;
}
.p-20{
    padding: 20px;
}
.pt-10{
    padding-top: 10px;
}
.pt-15{
    padding-top: 15px;
}
.pt-20{
    padding-top: 20px;
}
.pl-15{
    padding-left: 15px;
}
.pb-10{
    padding-bottom: 10px;
}
.pb-15{
    padding-bottom: 15px;
}
.pb-20{
    padding-bottom: 20px;
}
.m-0{
    margin: 0;
}
.m-15{
    margin: 15px;
}
.m-20{
    margin: 20px;
}
.mt-0{
    margin-top: 0;
}
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-25{
    margin-top: 25px;
}
.mr-10{
    margin-right: 10px;
}
.mr-15{
    margin-right: 15px;
}
.mb-0{
    margin-bottom: 0;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-25{
    margin-bottom: 25px;
}
/*  END PADDING + MARGIN   */
/* START CONTENT */
.space-between{
    justify-content: space-between;
}
/* END CONTENT */
/*  START COLOR   */
.c-black{
    color: black;
}
.c-red{
    color: var(--red-color);
}
.c-white{
    color: white;
}
.c-blue{
    color:var(--blue-color);
}
.c-green{
    color: var(--green-color);
}
.c-orange{
    color: var(--orange-color);
}
.bg-white{
    background-color: white;
}
.bg-blue{
    background-color: var(--blue-color);
}
.bg-green{
    background-color: var(--green-color);
}
.bg-red{
    background-color: var(--red-color);
}
.bg-orange{
    background-color: var(--orange-color);
}
.bg-eee{
    background-color: #eee;
}
.c-grey{
    color: var(--grey-color);
}
/*  END COLOR   */
/*  START POSITION   */
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}
/*  END POSITION   */
/*  START FONT   */
.text-c{
    text-align: center;
}
.fw-bold{
    font-weight: bold;
}
.fs-13{
    font-size: 13px;
}
.fs-14{
    font-size: 14px;
}
.fs-15{
    font-size: 15px;
}
.fs-25{
    font-size: 25px;
}
@media (max-width: 767px) {
    .text-c-mobile{
        text-align: center;
    }
}
/*  END FONT   */
/*  START BORDER   */
.b-none{
    border: none;
}
.border-ccc{
    border: 1px solid #ccc;
}
.rad-half{
    border-radius: 50%;
}
.rad-6{
    border-radius: 6px;
}
.rad-10{
    border-radius: 10px;
}
/*  END BORDER   */
/*  START COMPONENTS   */
.center-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.between-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-shape{
    padding: 4px 10px;
    border-radius: 6px;
}
/*  END COMPONENTS   */
/*  START WIDTH   */
.w-full{
    width: 100%;
}
.w-100{
    width: 100px;
}
.h-full{
    height: 100%;
}
.h-100{
    height: 100px;
}
.w-fit{
    width: fit-content;
}
/*  END WIDTH   */